.body{
	background: #f5f5f5;
}
*{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 3px;	
}
/* Personalização da barra de scroll */
::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 2px;
}
::-webkit-scrollbar {
    width: 4px;
    background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(150deg, #65799b, #5E2563);
}
/*
background: linear-gradient(150deg, #65799b, #5E2563);
*/
.titulo{
	position: fixed;
	top: -5%;
	left: 0%;
	font-size: 20px;
	text-align: center;
	background: #333;
	color: #fff;
	z-index: 2;
	width: 100%;
	height: 10.1%;
}
.info{
	position: absolute;
	top: 10%;
	left: 30%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #fff;
	font-size: 20px;
}
.sobre{
	position: absolute;
	top: 12%;
	left: 6%;
	width: 400px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.slideshow{
	position: absolute;
	left: 50%;
	top: 9%;
	width: 600px;
	height: 300px;
	overflow: hidden;
	z-index: 3;
}
.navigation{
	position: absolute;
	bottom: 20px;
	left: 30%;
	display: flex;
}
.bar{
	width: 50px;
	height: 10px;
	border: 2px solid #333;
	margin: 6px;
	cursor: pointer;
	transition: 0.4s;
}
.bar:hover{
	transition: 0.4s;
	background: #333;
}
input[name="r"]{
	position: absolute;
	visibility: hidden;
}
.slides{
	width: 500%;
	height: 100%;
	display: flex;
}
.slide{
	width: 20%;
	transition: 0.6s;
}
.slide img{
	width: 100%;
	height: 100%;
	display: block;
}
#r1:checked ~ .s1{
	margin-left: 0;
}
#r2:checked ~ .s1{
	margin-left: -20%;
}
#r3:checked ~ .s1{
	margin-left: -40%;
}
#r4:checked ~ .s1{
	margin-left: -60%;
}
.container{
	top: 49%;
	left: 6%;
	width: 1200px;
	position: absolute;
	display: flex;
	justify-content: space-between;
}
.container .card{
	position: relative;
}
.container .card .face{
	width: 230px;
	height: 130px;
	transition: 0.3s;	
}
.container .card .face.face1{
	position: relative;
	background: #333;
	display: flex;
	justify-content:center;
	align-items: center;
	z-index: 1;
	transform: translatey(130px);
	transition: 0.5s;
}
.container .card:hover .face.face1{
	transition: 0.5s;
	transform: translatey(50px);
	background: linear-gradient(150deg, #65799b, #5E2563);
}
.container .card .face.face2{
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
	transition: 0.3s;
}
.container .card:hover .face.face2{
	transition: 0.3s;
	transform: translatey(50px);
}
.container .card .face.face1 .content{
	opacity: 0.5;
	transition: 0.5s;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 15px;
}
.container .card:hover .face.face1 .content{
	opacity: 1;
}
.container .card .face.face2 .content p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
.container .card .face.face2 .content a{
	margin: 15px 0 0;
	display: inline-block;
	font-weight: 500;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .card .face.face2 .content a:hover{
	background: linear-gradient(150deg, #65799b, #5E2563);
	color: #fff;
}
#melhores_container{
	width: 100%;
	height: 10%;
	background-color: ;
	display: flex;
}
#breve_container{
	width: 100%;
	height: 10%;
	background-color: ;
	display: flex;
}
#lancamentos_container{
	position: relative;
	left: -7%;
	width: 100%;
	height: 10%;
	background-color: ;
	display: flex;
}
#populares_container{
	position: relative;
	left: -7%;
	width: 100%;
	height: 10%;
	background-color: ;
	display: flex;
}
.api img{
	position: relative;
	left: 88%;
	max-width: 60%;
}
h1{
	margin-top: 30px;
	position: relative;
	left: 70%;
	text-align: center;
}
.api_desc{
	position: relative;
	width: 50%;
	left: 50%;
}
h2{
	position: relative;
	left: 20%;
	width: 50%;
	text-align: center;
}
li{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	list-style: none;	
	position: relative;
	display: flex;
}
a{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: #000;
	transition: 0.2s;
}