<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>mais votados</title>
	<script src="../js/melhores.js"></script>
	<script type="text/javascript"	src="../js/handlebars-v4.1.2.js"></script>
		
</head>
<body class="body">
	
	<p class="titulo"><br>Filmes mais votados</p>
		
	<div id="melhores_container"></div>
</body>
	<script id="melhores-template" type="text/x-handlebars-template">
		<ul>
			{{#each results }}
				<div class="api">
					<h1>{{title}}</h1>
						<img src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
				</div>
			{{/each}}
		</ul>
	</script>	
</html>